body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFF;
}

p, ul, h1,h2,h3,h4,h5,h6, p {
    margin-top: 0;
    margin-bottom: 0;
}

a {
    text-decoration: none;
} 

ul {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

.container {
    max-width: 320px;
    margin: 0 auto;
    padding: 0 16px;
}

.header-nav {
    display: flex;
    justify-content: space-between;
}

.header{
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
}


.logo {
    font-weight: 700;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
    padding: 17px 0;
}

.logo-part {
    color: #2e2f42;
    text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}


.links {
    display: none;
}

.nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current {
    position: relative;
    color: #404bbf;
}

.current::after {
    content:"";
    position: absolute;
    left: 0;
    bottom: -1px;
    border-radius: 2px;
    width: 100%;
    height: 4px;
    background: #404bbf;
}

.nav-link:hover,
.nav-link:focus{
    color: #404bbf;
}

.address {
    font-style: normal;
    margin-left: auto;
}

.contacts {
    display: none;
}


.contact-link {
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-link:hover,
.contact-link:focus{
    color: #404bbf;
}

.open-menu-btn {
    padding: 0;
    line-height: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
}



/* .section {
    padding-top: 120px;
    padding-bottom: 120px;
} */


.preview {
    background-color: #2e2f42;
    min-width: 320px;
    max-width: 320px;
    min-height: 432px;
    margin: 0 auto;
    padding: 72px 0 72px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-mobile@1x.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    color: #2e2f42;
}

.site-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    max-width: 216px;
    margin: 0 auto;
}


.order-button {
    background-color: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    cursor: pointer;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    margin: 0 auto;
    margin-top: 72px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

button:hover,
button:focus{
    background-color: #404bbf;
}

.section-content {
    padding: 96px 0 96px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.content-list {
    display: flex;
    flex-direction: column;
    gap: 72px;
}


.icon-box {
    display: none;
}



.name-content {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.content {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}




.team {
    background-color: #F4F4FD;
    padding: 96px 0 96px;
}

.section-name {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 79px;
}

.team-list {
    display: flex;
    flex-direction: column;
    gap: 72px;
}

.photo {
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

img {
    display: block;
    width: 100%;
    height: auto;
}

.person-info {
    padding: 32px 0 32px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: #fff;
}

.person-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 8px;
}

.person-profession {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
    margin-bottom: 8px;
}


.list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.item {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-links {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: #4d5ae5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-links:hover, .team-links:focus {
    background-color: #404bbf;
}

.team-icon {
    fill: #f4f4fd;
}





.portfolio {
    padding: 96px 0 96px 0;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px;
}

.box {
    position: relative;
    width: 288px;
    height: 280px;
    overflow: hidden;
}


.picture:hover { 
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: #fff;
    transform: translateY(0%);
}

.add-category {
    padding: 32px 16px;
    border: 1px solid #e7e9fc; 
    border-top: none;
}

.overlay {
    display: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 40px 32px;
    background-color: #4d5ae5;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.box:hover .overlay {
    transform: translateY(0);
}


.portfolio-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.portfolio-class {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}








.bottom {
    background-color: #2e2f42;
    padding: 96px 0 96px;
}

.footer {
    display: flex;
    flex-direction: column;
}

.footer-info {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    margin-bottom: 72px;
}

.logo-footer {
    font-weight: 700;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: inline-block;
    margin-bottom: 16px;
}

.logo-part-under {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;
}

.conclusion {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    max-width: 264px;
}

.links-footer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 208px;
    margin: 0 auto;
    margin-bottom: 72px;
}

.name-nav-footer {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
}

.list-footer {
    display: flex;
    gap: 16px;
}

.item-footer {
    width: 40px;
    height: 40px;
}

.footer-links {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-links:hover,
.footer-links:focus{
    background-color: #31d0aa;
}

.icon-links {
    fill: #f4f4fd;
} 

.forms {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    gap: 16px;
    width: 288px;
    height: 136px;
    position: relative;
} 

.name-input {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
    margin: 0 auto;
}

.footer-send {
    display: flex;
    flex-direction: column;
    gap: 16px;
    position: absolute;
    bottom: 0;
}


.send-mail {
    border: 1px solid #fff;
    border-radius: 4px;
    background: transparent;
    width: 288px;
    height: 40px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    padding-right: 24px;
    color: #ffffff;
}

.footer-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    position: relative;
    background-color: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    border-radius: 4px;
    padding: 8px 24px;
    margin: 0 auto;
    min-width: 165px;
    max-width: 165px;
    height: 40px;
    cursor: pointer;
    bottom: 0;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-footer {
    margin-left: 16px; 
    fill: #fff;
}







.modal-overlay {
    background-color: rgba(46, 47, 66, 0.4);
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.modal-overlay.is-open {
    opacity: 1;
    pointer-events: auto;
}

.modal {
    position: absolute;
    border-radius: 4px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    width: 288px;
    min-height: 623px; 
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background: #fcfcfc;
    padding: 72px 16px 24px 16px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    overflow-y: auto;
}

.close-modal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    margin-left: auto;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    background-color: #e7e9fc;
    cursor: pointer;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-modal:hover, .close-modal:focus {
    border: none;
}

.close-modal:hover > .icon-modal, .close-modal:focus > .icon-modal {
    fill: #ffffff;
}

.icon-modal {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}


.modal-name {
    font-weight: 500;
    line-height: 1.5;
    font-size: 16px;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 16px;
}

.modal-field {
    margin-bottom: 8px;
}


.modal-label {
    display: block;
    font-weight: 400;
    line-height: 1.17;
    font-size: 12px;
    color: #8e8f99;
    letter-spacing: 0.04em;
    margin-bottom: 4px;
}

.modal-input {
    margin: 0 auto;
    width: 256px;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    outline: transparent;
    border-radius: 4px;
    background-color: transparent;
    padding-left: 34px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}


.modal-input:focus, .modal-textarea:focus {
    border-color: #4d5ae5;
}

.modal-input:focus + .input-icon {
    fill: #4d5ae5;
}

.modal-field-comment {
    margin-bottom: 16px;
}

.modal-textarea {
    width: 256px;
    height: 120px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    outline: transparent;
    resize: none;
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    background-color: transparent;
    padding: 8px 16px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.modal-field-forms {
    position: relative;
}

.input-icon {
    fill: #2e2f42;
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.check-label {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.check-label span {
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
    fill: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.modal-check:checked + .check-label span {
    background-color: #404bbf;
    border: none;
    fill: #f4f4fd;
}


.modal-field-check {
    margin-bottom: 24px;
}

.modal-check {
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
}

.check-privacy {
    line-height: 1.33333;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4d5ae5;
}

.modal-field-btn {
    padding-top: 24px;
}

.modal-btn {
    margin: 0 auto;
    display: block;
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #4d5ae5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    cursor: pointer;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
        }

    .header-nav {
        align-items: center;
    }

    .header-container {
        align-items: center;
    }

    .links {
            display: flex;
            gap: 40px;
        }

    .contacts {
        display: flex;
        flex-direction: column;
        gap: 12px;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        }

    .open-menu-btn {
        display: none;
    }

    .preview {
        min-width: 768px;
        max-width: 768px;
        min-height: 436px;
        padding: 112px 0 112px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-tab@1x.jpg);
    }

    .site-title {
        font-size: 56px;
        line-height: 1.07;
        max-width: 496px;
    }

    .order-button {
        margin-top: 36px;
    }

    .content-list {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 72px 24px;
    }

    .hero-list {
        width: calc((100% - 24px) / 2);
    } 

    .section-name {
        margin-bottom: 72px;
    }

    .team-list {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 64px 24px;
    }

    .photo {
        width: calc((100% - 24px) / 2);
    }

    img {
        max-width: 100%;
    }

    .portfolio-list {
        gap: 72px 24px;
    }

    .box {
        width: 356px;
        height: 300px;
    }

    .picture{
        width: calc((100% - 24px) / 2);
    }

    .footer {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 24px;
        padding-left: 108px;
    }

    .footer-info {
        align-items: start;
    }

    .links-footer {
        align-items: start;
        margin: 0;
    }

    .name-input {
        margin: 0;
    }

    .footer-send {
        flex-direction: row;
        gap: 24px;
    }

    .forms {
        margin: 0;
        width: 453px;
        height: 80px;
    }

    .send-mail {
        width: 264px;
    }

    .modal {
        width: 408px;
        min-height: 584px;
        padding: 72px 24px 24px 24px;
    }

    .modal-input {
        width: 360px;
        padding-left: 34px;
    }

    .modal-textarea {
        width: 360px;
    }
} 







@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding: 0 15px;
    }


    .contacts {
        flex-direction: row;
        gap: 40px;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }

    .preview {
        min-width: 1440px;
        max-width: 1440px;
        min-height: 600px;
        padding: 188px 0 188px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office1.jpg);
    }

    .order-button {
        margin-top: 48px;
    }

    .section-content {
        padding: 120px 0 120px;
    }
    

    .content-list {
        display: flex;
        gap: 24px;
    }
    
    .hero-list {
        width: calc((100% - 3 * 24px) / 4);
    }

    .icon-box {
        border: 1px solid #8e8f99;
        border-radius: 4px;
        width: 264px;
        height: 112px;
        background: #f4f4fd;
        margin-bottom: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .name-content {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
    }

    .content {
        font-weight: 400;
    }

    .team {
        padding: 120px 0 120px;
    }

    .team-list {
        gap: 24px;
    }
    
    .photo {
        width: calc((100% - 72px) / 4);
    }

    .portfolio {
        padding: 120px 0 120px 0;
    }

    .portfolio-list {
        gap: 48px 24px;
    }

    .box {
        width: 360px;
    }

    .picture{
        width: calc((100% - 48px) / 3);
    }

    .bottom {
        padding: 100px 0 100px;
    }

    .footer {
        flex-direction: row;
    }

    .footer-info {
        margin-right: 120px;
        align-items: baseline;
    }

    .forms {
        margin-left: auto;
        gap: 24px;
    }

    .modal-input {
        padding-left: 38px;
    }
}